# Place to try some code

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ALookAtTheData as t
from IPython import display
%matplotlib inline

## Class 1

Importing the databases to explore

In [16]:
df = pd.read_csv('survey-results-public.csv')
schema = pd.read_csv('survey-results-schema.csv')

Here a te little test made for them to start exploring the dataset

In [17]:
num_rows = df.shape[0] #Provide the number of rows in the dataset
num_cols = df.shape[1] #Provide the number of columns in the dataset

t.check_rows_cols(num_rows, num_cols)

Nice job there are 51392 rows in the dataset!
Nice job there are 154 columns in the dataset!

In [18]:
flipped_num_rows = df.shape[1] #Provide the number of rows in the dataset
flipped_num_cols = df.shape[0] #Provide the number of columns in the dataset

t.check_rows_cols(flipped_num_rows, flipped_num_cols)

That doesn't look like what we were expecting for the number of rows.
That doesn't look like what we were expecting for the number of columns.

It is possible to see a function documentation using "?"

In [19]:
print?

In [21]:
print('a', 'b', 'c', sep='----')

a----b----c

In [9]:
schema.head()

         Column                                           Question
0    Respondent                               Respondent ID number
1  Professional         Which of the following best describes you?
2  ProgramHobby  Do you program as a hobby or contribute to ope...
3       Country            In which country do you currently live?
4    University  Are you currently enrolled in a formal, degree...